.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: top;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #F5F5F5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  color: #525252;
  font-size: 0.875rem;
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #141414;
  border-radius: 4px;
  background: #fff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 760px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    font-size: 3rem;
    line-height: 1;
    max-width: initial;
  }

  .experiencia-texto {
    font-size: 1.25rem;
    line-height: 1.33;
    max-width: 80ch;
  }

  .empresa-ano {
    position: initial;
    text-align: left;
    width: initial;
    order: 1;
    grid-column: 2;
  }
}

@media (max-width: 520px) {
  .experiencia .subtitulo {
    color: #B8B8B8;
    text-transform: none;
    font-size: 2.5rem;
  }

  .empresa {
    grid-template-columns: 1fr;
    gap: 10px 20px;
  }

  .empresa-ano {
    grid-column: 1;
  }
}